{% extends "base.html" %}
{% block content %}
<h1>Register</h1>
<form method="POST">
    {% csrf_token %}
    {% if form.non_field_errors %}
    <div class="error">
        {{ form.non_field_errors }}
    </div>
    {% endif %}
    <div>
        <label for="{{ form.username.id_for_label }}">Username</label><br>
        {{ form.username }}
        {{ form.username.errors }}
    </div>
    <br>
    <div>
        <label for="{{ form.password1.id_for_label }}">Password</label><br>
        {{ form.password1 }}
        {{ form.password1.errors }}
        <small>{{ form.password1.help_text }}</small>
    </div>
    <br>
    <div>
        <label for="{{ form.password2.id_for_label }}">Confirm Password</label><br>
        {{ form.password2 }}
        {{ form.password2.errors }}
    </div>
    <br>
    <button type="submit">Register</button>
</form>
{% endblock %}