{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Movie Catalog</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
<header class="header">
    <div class="logo" href="{% url 'home' %}"><a href="{% url 'home' %}">🎬 Movie Catalog</a></div>
    <nav class="navbar">
        <a href="{% url 'home' %}">Home</a>
        {% if user.is_authenticated %}
            <a href="{% url 'movie-add' %}">Add Movie</a>
            <a href="{% url 'profile' %}">Profile</a>
            <a href="{% url 'logout-page' %}">Logout</a>
        {% else %}
            <a href="{% url 'login-page' %}">Login</a>
            <a href="{% url 'register-page' %}">Register</a>
        {% endif %}
    </nav>
</header>

<div class="page">
    {% if request.resolver_match.url_name == "home" %}
    <aside class="sidebar">
        <h3>Categories</h3>
        <ul>
            <li>
                <a href="{% url 'home' %}">All</a>
            </li>
            {% for genre in genres %}
                <li>
                    <a href="{% url 'home' %}?genre={{ genre.id }}">{{ genre.name }}</a>
                </li>
            {% endfor %}
        </ul>
        <hr class="sidebar-divider">
        <h3>Rating</h3>
        <ul>

            <li>
                <a href="?{% if selected_genre %}genre={{ selected_genre }}{% endif %}">All</a>
            </li>
            {% for rating in ratings %}
                <li>
                    <a href="?{% if selected_genre %}genre={{ selected_genre }}&{% endif %}rating={{ rating }}"class="{% if selected_rating == rating|stringformat:'s' %}active-category{% endif %}">{{ rating }}+</a>
                </li>
            {% endfor %}
        </ul>
    </aside>
    {% endif %}

    <section class="content">
        <div class="stats">
            Movies: {{ movie_count }} | Reviews: {{ review_count }}
        </div>
        {% block content %}
        {% endblock %}
    </section>
</div>

<footer class="footer">
    Movie Catalog © 2026
</footer>
</body>
</html>